.footer {
  background-color: var(--color-extralight);
  font-family: var(--font-primary);
}
.footer-author{
  padding: 2rem 2rem;
}

.footer-logo{
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 40px;
  display: flex;
  line-height: 50px;
  color: var(--color-text);
  cursor: pointer;
}

.footer-partition{
  height: 2px;
  margin: 0px 1rem;
  background-color: var(--color-light);
}
.footer-rights{
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

.footer-social img {
  width: 20px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 700px) {
  .footer-social {
    gap: 1rem;
  }

  .footer-social img {
    width: 1.5rem;
  }
}
